.book-list {
  border: 1px solid #828282;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 1rem;
}

.book-list-container {
  display: flex;
  color: #000000;
  flex-grow: 1;

  .book-image-container {
    max-width: 5rem;
    max-height: 3.125rem;
    overflow: hidden;
  }

  img {
    width: 4rem;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .book-info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding-left: .75rem;
  }

  .title {
    font-weight: 600;
  }

  .empty-image {
    width: 4rem;
    height: 20px;
    background-color: #f6f6f6;
  }
}

.my-library, currently-reading {
  margin: 1rem 0;
}

.user-book {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border-bottom: 1px solid rgb(188, 188, 188);
  pointer-events: none;

  &:last-of-type {
    border-bottom: none;
  }

  a {
    text-decoration: none;
    pointer-events: auto;
  }

  .update-button {
    display: flex;
    justify-content: flex-end;
  }

  .update-book {
    height: 2.5rem;
    background:rgb(30, 133, 32);
    border: 1px solid rgb(35, 159, 37);
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.875rem;
    pointer-events: auto;

    &:hover {
      cursor: pointer;
      background: rgb(32, 143, 34);
    }
  }
}



.empty {
  display: none;
}