.user-welcome {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.user-reading {
  margin: 1rem 0;
}

.reading-container {
  display: flex;
  margin: 0.5rem 0;
  a {
    text-decoration: none;
  }

  .book-list-container {
    display: flex;
  }
}

.book-reading {
  display: flex;
  flex-basis: content;
  border: 1px solid #000000;
  border-radius: 0.5rem;
  padding: 0.5rem 0.875rem 0 0.5rem;
}