.stats-container {
  display: flex;
  gap: 1.25rem;
}

.stats-image {
  img {
    border-radius: 0.5rem;
  }
}

.stats-info {
  display: flex;
  flex-direction: column;

  .info-title {
    font-family: 'Inter';
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
  }

  .small-text {
    color: #7D7D7D;
  }
}