.heading {
  margin-bottom: 0.5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 50%;
}

.login-button {
  background: rgb(35, 159, 37);
  border: 1px solid rgb(35, 159, 37);
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.5px;
  width: 200px;
  cursor: pointer;

  &:hover {
    background: rgb(32, 143, 34);
  }
}

.input-field {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  gap: 0.5rem;
  label {
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
  }
}