@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  margin: 0;
}

.body-container {
  margin: 1rem;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;

  input {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    width: 75%;
    min-width: 250px;
    padding: .5rem;
    font-size: 1rem;
  }
}