.main-info {
  display: flex;
  padding: 0 0 2rem 1rem;
}

.main-info-text {
  padding-left: 2.5rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.25rem;
}

.authors {
  font-family: 'Cormorant Garamond', 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.isbn {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.uppercase {
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: rgb(104, 104, 104);
}

.cover-img {
  min-width: 128px;
  border-radius: 0 0.5rem 0.5rem 0;
  box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}

.break {
  margin: 0.5rem 0;
  width: 85%;
  height: 1px;
  background-color: rgb(224, 217, 212);
}

.description {
  padding: 1rem 0 2rem 1rem;

  .description-heading {
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .description-text {
    line-height: 1.5;
  }
}

.add-button {
  background: rgb(35, 159, 37);
  padding: 0.5rem;
  border: 1px solid rgb(35, 159, 37);
  border-radius: 0.5rem;
  color: #ffffff;
  cursor: pointer;

  &:hover {
    background: rgb(32, 143, 34);
  }
}