.navigation {
  display: flex;
  align-items: center;
  background-color: #ebe7e0;
  border-bottom: 1px solid #cfcbc7;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  padding: 1rem;
  gap: 1rem;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  color: #29231a;
  padding: 0.5rem;

  &:hover {
    background-color: #d4cbbc;
    border-radius: 0.5rem;
  }
}

.logo {
  height: 40px;
  width: 40px;
}

.user-nav-container {
  position: relative;
}

.user-nav {
  height: 30px;
  width: 30px;
  border: none;
  background: none;
  padding: 0;

  img {
    height: 30px;
    width: 30px;
  }
}

.user-dropdown {
  position: absolute;
  width: 90px;
  top: 135%;
  right: -5px;

  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #FFFFFF transparent;
    right: 10px;
    top: -20px;
  }
}

.log-out {
  border: none;
  color: #727272;
  background: #ffffff;
  box-shadow: 0px 4px 15px 2px rgba(0,0,0,0.1);

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}